<h2>Dashboard</h2>

<div class="card-container">
    <div *ngFor="let item of indicators; index as i" class="card card-box" title="{{item.name}}">
        <h4 class="mt-0 mb-3">{{ item.key }}</h4>
        <div class="widget-box-2">
            <div class="widget-detail-2">               
                <h2 class="font-weight-normal mb-1"> {{ item.value | number:'0.1-2':'es' }} </h2>
                <p class="text-muted">{{ item.unit }}</p>
                <a href="/historical/{{item.key}}" class="badge badge-pill float-left mt-3" [ngClass]="updateBadgeClasses(item.variation)">{{ item.variation | number:'0.1-2':'es' }} <i class="mdi" [ngClass]="updateTrendingClasses(item.variation)"></i></a>
            </div>      
        </div>
    </div>
</div>
